#### Dictionaries

Agenda<br>

Dictionaries - another critical compound data type in Python (similar to associative arrays in other languages)<br>
Holds data as a key-value pair; key can be any immutable data type and references a value that can be changed<br>
Example: {1:'Nanda', 2:'Tim'}  
Example: {'Jan':110, 'Feb':90}

In [1]:
# create dictionaries

dt={}
print(dt)
dt1=dict()
print(dt1)
dtSales={'Jan':110, 'Feb':90}
print(dtSales)

{}
{}
{'Jan': 110, 'Feb': 90}

In [2]:
dt={}
dt[1]='Nanda'
dt[2]='Tim'
print(dt)

{1: 'Nanda', 2: 'Tim'}

In [3]:
dt[2]='Sara'
dt[3]='Kim'
dt[4]='Juan'
print(dt)

{1: 'Nanda', 2: 'Sara', 3: 'Kim', 4: 'Juan'}

In [4]:
dt['five']='Qian'
print(dt)
print (dt[4])
print (dt['five'])


# Note that it is up to us to designate meaningful keys! It is not like Lists where you use the index concept.
# Also note that the order of items printed is not important;

{1: 'Nanda', 2: 'Sara', 3: 'Kim', 4: 'Juan', 'five': 'Qian'}
Juan
Qian

In [5]:
print (dt[5])
print (dt[12])

KeyError: 5

Lists, tuples and strings are sequences; the individual elements occur in order; we can use indexing and slicing operations on these data types.  <font color='red'> The items in Dictionaries do not occur in order </font>.  Hence, you cannot use slicing or indexing operations on them. <br>Why use Dictionaries?<hr>

In [6]:
dt={1: 'Nanda', 2: 'Sara', 3: 'Kim', 4: 'Juan'}

for key in dt.keys():
    print(key)

1
2
3
4

In [7]:
#what does i access - key or value?

for i in dt:
    print(i)

1
2
3
4

In [8]:
# To access values in a dictionary

for value in dt.values():
    print(value)

Nanda
Sara
Kim
Juan

In [ ]:
%reset

In [9]:
dt={1: 'Nanda', 2: 'Sara', 3: 'Kim', 4: 'Juan'}
print (dt.items())

for key,value in dt.items():
    print ( key,value)

dict_items([(1, 'Nanda'), (2, 'Sara'), (3, 'Kim'), (4, 'Juan')])
1 Nanda
2 Sara
3 Kim
4 Juan

In [10]:
dt={1: 'Nanda', 2: 'Sara', 3: 'Kim', 4: 'Juan'}
print (dt.items())

for key,value in dt.items():
    if value=='Nanda':
        print ( key,value)

dict_items([(1, 'Nanda'), (2, 'Sara'), (3, 'Kim'), (4, 'Juan')])
1 Nanda

In [10]:
for t in dt.items(): 
    print (t)

(1, 'Nanda')
(2, 'Sara')
(3, 'Kim')
(4, 'Juan')

In [11]:
# Operations, order in which key-value pairs are accessed.

dtSales={'Jan':110, 'Feb':90, 'Mar':130, 'Apr':80}
dtSales['May']=200
print(dtSales)

{'Jan': 110, 'Feb': 90, 'Mar': 130, 'Apr': 80, 'May': 200}

In [12]:
# Working with values in dictionary

dtSales['May']+=10
dtSales['Apr']=90
print(dtSales)

{'Jan': 110, 'Feb': 90, 'Mar': 130, 'Apr': 90, 'May': 210}

In [13]:
dt={1: 'Nanda', 2: 'Sara', 3: 'Kim', 4: 'Juan'}
xbool=isinstance(dt,dict)
print(xbool)

True

In [14]:
print(dt)

{1: 'Nanda', 2: 'Sara', 3: 'Kim', 4: 'Juan'}

In [15]:
xbool1=1 in dt
xbool2='Nanda' in dt
print (xbool1, xbool2)

True False

In [16]:
xbool3='Nanda' in (dt.values())
print(xbool3)

True

In [ ]:
print(dt.values())

In [17]:
# pop returns the value of the key referred to in the argument
dt={1: 'Nanda', 2: 'Sara', 3: 'Kim', 4: 'Juan'}
v=dt.pop(1)
print(dt,v, sep='\n')

{2: 'Sara', 3: 'Kim', 4: 'Juan'}
Nanda

In [18]:
v=dt.popitem()
print(dt,v, sep='\n')

{2: 'Sara', 3: 'Kim'}
(4, 'Juan')

In [6]:
dt={2: 'Sara', 3: 'Kim', 4: 'Juan'}
v=dt.get(5,0)
print(v)

0

In [7]:
print(dt[5])

KeyError: 5

In [21]:
v=dt.copy()
print(dt,v, sep='\n')

{2: 'Sara', 3: 'Kim', 4: 'Juan'}
{2: 'Sara', 3: 'Kim', 4: 'Juan'}

In [22]:
v[2]='Olivia'
print(dt,v, sep='\n')

{2: 'Sara', 3: 'Kim', 4: 'Juan'}
{2: 'Olivia', 3: 'Kim', 4: 'Juan'}

In [ ]:
dt.clear()
print(dt)

Exercise:
1) Think about what kind of code you will need to write to take a word (say: 'aikaramba') and provide a listing of how many times each alphabet appears in the word (no need to account for absent alphabets).
2) Write code...

In [ ]:
# Dictionaries to count

word='holy cow'
dtC={}
for letter in word:
    if letter not in dtC:
        dtC[letter]=1
    else:
        dtC[letter]+=1
    print(letter, dtC)
print('\n',dtC)

In [ ]:
del(dtC[' '])
print(dtC)

In [ ]:
word='Holy Cow'
dtC={}
for letter in word.upper():
    if letter not in dtC:
        dtC[letter]=1
    else:
        dtC[letter]+=1
print(dtC)

In [8]:
fob=open('movies-short.txt')  
for line in fob:
    print (line.rstrip())
fob.close()

The Big Lebowski, 1998
Shaun of the Dead, 2004
Grosse Pointe Blank, 1997
Dawn of the Dead, 1978
Dawn of the Dead, 2004
The Big Chill, 1983

In [9]:
# sort words in each line by length

fob=open('movies-short.txt')  
lis=[]
for line in fob:
    words=line.split()
    print(words)
    for word in words:
        lis.append((len(word),word))
    lis.sort()
    print(lis)
    lis=[]
fob.close()

['The', 'Big', 'Lebowski,', '1998']
[(3, 'Big'), (3, 'The'), (4, '1998'), (9, 'Lebowski,')]
['Shaun', 'of', 'the', 'Dead,', '2004']
[(2, 'of'), (3, 'the'), (4, '2004'), (5, 'Dead,'), (5, 'Shaun')]
['Grosse', 'Pointe', 'Blank,', '1997']
[(4, '1997'), (6, 'Blank,'), (6, 'Grosse'), (6, 'Pointe')]
['Dawn', 'of', 'the', 'Dead,', '1978']
[(2, 'of'), (3, 'the'), (4, '1978'), (4, 'Dawn'), (5, 'Dead,')]
['Dawn', 'of', 'the', 'Dead,', '2004']
[(2, 'of'), (3, 'the'), (4, '2004'), (4, 'Dawn'), (5, 'Dead,')]
['The', 'Big', 'Chill,', '1983']
[(3, 'Big'), (3, 'The'), (4, '1983'), (6, 'Chill,')]

In [ ]:
fob=open('movies-short.txt')  
dtC=dict()
for line in fob:
    words=line.split()
    print (words)
    for word in words:
        if word not in dtC:
            dtC[word]=1
        else:
            dtC[word]+=1
fob.close()    
print(dtC)

In [ ]:
t=dtC.items()
print(dtC, t, sep='\n\n')

In [ ]:
lis=list(dtC.items())
print(lis)

In [ ]:
# sort by key

lis.sort()
print(lis)

In [1]:
# sort by value

newlis=[]
for key,val in dtC.items():
    newlis.append((val,key))
newlis.sort(reverse=True)
print(newlis)

NameError: name 'dtC' is not defined

In [ ]:
dt={1: 'Nanda', 2: 'Sara', 3: 'Kim', 4: 'Juan'}
del dt[1]
print(len(dt))

In [12]:
d={}
d['Teacher1']='Nanda'
print(d)

{'Teacher1': 'Nanda'}

In [18]:
f=open('CourseInstructor.txt','r')
d={}
for i in f:
    l=i.split()
    d[l[0]]=l[1]
print(d)

{'CIS2200': 'Izen', 'CIS3100': 'Ennoure', 'CIS3120': 'Kumar', 'CIS3400': 'Ferns', 'CIS3750': 'Gubernat', 'CIS3920': 'Cai', 'CIS4100': 'Friedman', 'CIS4110': 'Finnegan', 'CIS4160': 'Craig', 'CIS4400': 'Holowczak', 'CIS4800': 'Finnegan', 'CIS5800': 'Brown', 'CIS9340': 'Kline', 'CIS9440': 'Holowczak', 'CIS9480': 'Bianco', 'CIS9490': 'Kiris', 'CIS9557': 'Kumar', 'CIS9660': 'Gao'}

In [20]:
d['CIS4400']

'Holowczak'